@import "../../../../styles.scss";

:host {
  display: flex;
  justify-content: center;
}

.container {
  padding: 20px 28px;
  color: $color-primary-900;
  background-color: $color-primary-100;
  font-family: "Inter medium";
  font-size: 18px;
  line-height: 25px;
  box-shadow: inset 0 0 0 1px $color-primary-800;
  border-radius: 50px;
  text-align: center;
}

.container:hover {
  cursor: pointer;
  color: $color-primary-700;
  box-shadow: inset 0 0 0 1px $color-primary-600;
}
