@use "styles" as *;
:host {
  display: block;
}

.secondary-button {
  display: block;
  font-family: "Inter medium";
  font-size: $font-size-400;
  line-height: $height-500;
  color: $color-primary-900;
  background-color: $color-primary-100;
  text-align: center;
  border: 1px solid $color-primary-800;
  border-radius: $border-radius-800;
}

.secondary-button:hover {
  cursor: pointer;
  background-color: $color-primary-200;
}
