@use "styles" as *;

:host {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  padding: $height-050 $width-300;
  width: 100%;
  border-top: solid calc($height-025 / 8) $color-grey-300;
  position: fixed;
  z-index: 1000;
  left: 0rem;
  bottom: 0rem;
  height: $height-600;
  max-width: $device-width;
}
