@import "../../../styles.scss";

h1 {
  color: $color-primary-500;
  font-family: "Inter black";
  font-size: $font-size-800;
  line-height: $font-line-height-800;
  letter-spacing: -4%;
  text-align: center;
}

.body-side-padding {
  padding-left: $width-200;
  padding-right: $width-200;
  max-width: $device-width;
}

.link-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
