@use "styles" as *;

$p-line-height-offset: calc($font-line-height-200 / 2);

:host {
  height: fit-content;
  width: 100%;
}

.book-cover-container {
  display: flex;
  position: relative;
  flex-direction: column;

  height: $height-900;
  border-radius: 1rem;
  overflow: hidden;
  border: solid 1px $color-grey-300;
}

.image {
  height: calc($height-900 - $height-400);
  object-fit: cover;
  object-position: top center;
  width: auto;
}

.publication-date {
  font-family: "Inter regular";
  position: absolute;
  margin-block: 0;
  bottom: 0;
  background-color: $color-primary-800;
  color: $color-primary-200;
  font-size: $font-size-200;
  line-height: $font-line-height-200;
  width: 100%;
  text-align: center;
  padding-bottom: calc(1.5rem - $p-line-height-offset);
  padding-top: calc(1.5rem - $p-line-height-offset);
  border-radius: 0 1rem 1 rem 0;
}

.book-info-container {
  margin-top: 1rem;
  height: fit-content;
}

h2 {
  font-family: "Inter semibold";
  font-size: $font-size-400;
  line-height: $font-line-height-400;
  margin-block: 0;
  text-align: left;
  line-clamp: 3;

  hyphens: manual;
  overflow-wrap: break-word;
  word-break: break-word;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author-name {
  font-family: "Inter regular";
  margin-block: 0;
  text-align: left;
  font-size: $font-size-300;
  line-height: $font-line-height-300;
  margin-top: $height-075;

  line-clamp: 2;

  hyphens: manual;
  overflow-wrap: break-word;
  word-break: break-word;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  display: block;
  font-family: "Inter semibold";
  font-size: $font-size-300;
  line-height: $font-line-height-300;
  text-align: left;
  margin-top: $height-100;
}

.button:hover {
  cursor: pointer;
}
