<div class="book-cover-container">
  <app-like-icon-40px></app-like-icon-40px>
  <img
    class="image"
    [src]="bookImage()"
    alt="Image de couverture du livre L'Histoire sans fin"
  />
  <p class="publication-date">
    Publié en {{ book()?.firstPublished | date : "Y" }}
  </p>
</div>
<div class="book-info-container">
  <h2>{{ book()?.title }}</h2>
  <app-star-rating-16px
    [marginTop]="'0.5rem'"
    [rating]="book()?.averageRating"
  ></app-star-rating-16px>
  <p class="author-name">{{ book()?.authorName }}</p>
  <a class="button" href="/">En savoir plus</a>
</div>
