@use "styles" as *;

:host {
  display: block;
}

p {
  font-family: "Inter semibold";
  font-size: $font-size-300;
  line-height: $font-line-height-300;
  color: $color-primary-600;
  text-decoration: underline;
  text-align: center;
}

p:hover {
  cursor: pointer;
  color: $color-primary-500;
}
