@import "../../../../styles.scss";

//constant - not dependable on state

:host {
  display: flex;
  justify-content: space-between;
  height: 384px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}

.book-cover-container {
  background-color: $color-primary-200;
  border-radius: 27px;
  height: 384px;
  position: relative;
}

.image {
  width: 256px;
  bottom: 0;
  position: absolute;
}

.book-cover-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(384px);
}

.publication-date-container {
  font-family: "Inter medium";
  font-size: 16px;
  line-height: 21px;
  color: $color-primary-200;
  background-color: $color-primary-800;
  height: 64px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 27px 27px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
