@use "styles" as *;

:host {
  width: fit-content;
  color: $color-grey-600;
  font-family: "Inter medium";
  font-size: $font-size-200;
  line-height: $font-line-height-200;
  text-transform: uppercase;
}
