@import "../../../styles.scss";

:host {
  display: flex;
  gap: $width-200;
  justify-content: flex-start;
  font-size: $font-size-300;
  line-height: $font-line-height-300;
}

.left {
  width: fit-content;
}

.right {
  width: 100%;
}

.user-avatar {
  height: $height-500;
  min-width: $height-500;
  border-radius: $border-radius-700;
}

h2 {
  font-family: "Inter medium";
  color: $color-grey-900;
  margin-bottom: $height-050;
}

p {
  margin: $height-075 0rem;
  font-family: "Inter regular";
  color: $color-grey-900;
}
