@import "../../../../styles.scss";

:host {
  background-color: $color-primary-200;
  color: $color-primary-700;
}

:host:hover {
  cursor: pointer;
  background-color: $color-primary-100;
}

:host,
.tile {
  display: flex;
  justify-content: center;
  border-radius: $border-radius-400;
  height: $height-600;
  align-items: center;
  flex-grow: 1;
  width: calc(50% - $width-075);
}

.tile {
  padding: $height-050 $width-075;
  font-size: $font-size-300;
  line-height: $font-line-height-300;
  color: $color-primary-700;
  text-align: center;
}
