@use "styles" as *;

form {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  gap: $height-050;
}

label {
  transition: opacity 0.2s ease-in;
  padding: 0rem $width-200;
  font-family: "Inter regular";
  font-size: $font-size-100;
  line-height: $font-line-height-100;
  color: $color-grey-600;
}

input {
  background-color: $color-grey-300;
  height: $height-400;
  border-radius: $border-radius-700;
  padding: 0rem $width-200;
  color: $color-grey-800;
  width: calc(100% - $width-400);
  font-family: "Inter regular";
  font-size: $font-size-400;
  line-height: $font-line-height-400;
}

input.placeholder {
  color: $color-grey-700;
  font-family: "Inter regular";
  line-height: $font-line-height-400;
  font-size: $font-size-400;
  text-align: left;
}

button {
  display: block;
  font-family: "Inter medium";
  font-size: $font-size-400;
  line-height: $height-500;
  color: $color-primary-100;
  text-align: center;
  border-radius: $border-radius-800;
  margin-top: $height-500;
}

.button-default {
  background-color: $color-primary-500;

  &:hover {
    cursor: pointer;
    background-color: $color-primary-400;
  }
}

.button-clicked {
  background-color: $color-primary-400;
}

.error-msg-field {
  margin-top: $height-050;
  font-family: "Inter regular";
  font-size: $font-size-200;
  line-height: $font-line-height-200;
  color: $color-red-700;
  padding: 0rem $width-200;
}

.error-msg-field-block {
  margin-top: $height-200;
  font-family: "Inter regular";
  font-size: $font-size-200;
  line-height: $font-line-height-200;
  color: $color-red-700;
  text-align: center;
}
