@import "../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
}

.image-box {
  padding: $height-400 $width-200 $height-300 $width-200;
}

h1 {
  padding: 0rem $width-200;
  color: $color-primary-500;
  font-family: "Inter black";
  font-size: $font-size-800;
  line-height: $font-line-height-800;
  letter-spacing: -4%;
  text-align: center;
}

p {
  padding: 0rem $height-200;
  font-family: "Inter regular";
  font-size: $font-size-300;
  line-height: $font-line-height-300;
  text-align: center;
  color: $color-grey-900;
}

.body-side-padding {
  padding-left: $width-200;
  padding-right: $width-200;
  max-width: $device-width;
}
