<div class="image-box">
  <img [src]="'assets/illustrations/bookapp-homepage-nooutline.svg'" alt="" />
</div>
<h1>BookApp</h1>
<app-spacer [height]="'24px'"></app-spacer>
<p>
  L&apos;application pour créer vos listes de lecture et garder en mémoire vos
  appréciations.
</p>
<app-spacer [height]="'64px'"></app-spacer>
<div class="padding-sides">
  <app-primary-button
    [buttonLabel]="'Se connecter'"
    [width]="'100%'"
  ></app-primary-button>
  <app-spacer [height]="'16px'"></app-spacer>
  <app-secondary-button [label]="'S\'inscrire'" width="'100%'">
  </app-secondary-button>
</div>
