@import "../../../../styles.scss";

.container {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 124px;
}

.item {
  flex-grow: 1;
  flex-basis: calc(50% - 12px);
}

.item:hover {
  cursor: pointer;
}
