@import "../../../../styles.scss";

:host {
  display: flex;
  justify-content: center;
}

.container {
  background-color: $color-primary-500;
  border-radius: $border-radius-700;
  padding: $height-100 $width-300;
  text-align: center;
}

.primary-button {
  font-family: "Inter medium";
  font-size: $font-size-400;
  line-height: $font-line-height-400;
  color: $color-primary-100;
}

.container:hover {
  background-color: $color-primary-400;
  cursor: pointer;
}
