@use "styles" as *;
:host {
  display: block;
}

.primary-button {
  display: block;
  font-family: "Inter medium";
  font-size: $font-size-400;
  line-height: $height-500;
  color: $color-primary-100;
  background-color: $color-primary-500;
  text-align: center;
  border-radius: $border-radius-800;
}

.primary-button:hover {
  cursor: pointer;
  background-color: $color-primary-400;
}
