@use "styles" as *;

:host {
  background-color: $color-primary-200;
  color: $color-primary-700;
  border-radius: $border-radius-400;
  display: flex;
  justify-content: center;
}

:host:hover {
  cursor: pointer;
  background-color: $color-primary-100;
}

.tile {
  min-height: $height-600;
  display: flex;
  align-items: center;

  padding: $height-050 $width-075;
  font-size: $font-size-300;
  line-height: $font-line-height-300;
  text-align: center;
}
