@use "styles" as *;

.chips-carousel {
  display: flex;
  gap: $width-050;
  overflow-x: scroll;
  cursor: grab;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

.chips-carousel:active {
  cursor: grabbing;
}

/* Hide scrollbars across all browsers */
.chips-carousel::-webkit-scrollbar {
  display: none;
}

.chips-carousel {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge - ms prefix means Microsoft */
}

.chip {
  background-color: $color-accent-200;
  color: $color-accent-900;
  font-family: "Inter regular";
  line-height: $font-line-height-300;
  padding: $height-025 $width-075;
  border-radius: $border-radius-500;
  font-size: $font-size-300;
  white-space: nowrap;
  flex-shrink: 0;
}
