@use "styles" as *;

//constant - not dependable on state
.body-side-padding {
  padding-left: $width-200;
  padding-right: $width-200;
  max-width: $device-width;
}

h1 {
  font-family: "Inter bold";
  color: $color-grey-900;
  font-size: $font-size-600;
  line-height: $font-line-height-600;
}

.author-name {
  font-family: "Inter regular";
  font-size: $font-size-400;
  line-height: $font-line-height-400;
  hyphens: manual;
  overflow-wrap: break-word;
  word-break: break-word;
}

.incipit-text {
  font-family: "Inter regular";
  font-size: $font-size-400;
  line-height: $font-line-height-400;
  color: $color-grey-900;
}

.comment-spacing:not(:last-child) {
  margin-bottom: $height-400;
}
