// 2 etats : selectionné /non-selectionné
@import "../../../../styles.scss";

//constant - not dependable on state
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter regular";
  font-size: 12px;
  line-height: 20px;
  margin: 12px;
}

.svg-selector {
  width: 100%;
  height: 100%;
  max-height: 32px;
  max-width: 32px;
}

.icon-label {
  font-family: "Inter regular";
}

//changing - state-related

:host:hover {
  cursor: pointer;
}

.active .icon-path {
  fill: $color-primary-400;
}

.icon-path {
  fill: $color-primary-700;
}

.active .icon-label {
  color: $color-primary-600;
}

.icon-label {
  color: $color-primary-800;
}

/*
nav {
  display: flex;
  border-top: solid 0.5px $color-grey-300;
  justify-content: center;
  height: 96px;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  background-color: #ffffff;
  max-width: 414px;
  width: 100%;
}
  */
