<div class="container">
  <div class="content-box">
    <app-filter-sort-bar-dynamic-text
      class="meta-left"
      [numberOfBooks]="numberOfBooks"
    >
    </app-filter-sort-bar-dynamic-text>
    <app-filter-sort-bar-icon
      class="meta-center"
      [label]="'Affichage'"
      [icon]="chooseDisplayIcon"
      [gap]="'0.5rem'"
    >
    </app-filter-sort-bar-icon>
    <app-filter-sort-bar-icon
      class="meta-right"
      [label]="'Trier'"
      [icon]="filterIcon"
      [gap]="'0.25rem'"
    >
    </app-filter-sort-bar-icon>
  </div>
</div>
