@import "../../../../styles.scss";

//constant - not dependable on state

:host {
  display: flex;
  justify-content: space-between;
  height: 256px;
}

.side {
  width: calc(50% - 6px);
}

.left {
  background-color: $color-primary-200;
  border-radius: 16px;
}

.right {
  background-color: $color-grey-100;
  position: relative;
}

.image {
  height: 176px;
}

.book-cover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(256px - 48px);
}

.publication-date-container {
  font-family: "Inter medium";
  font-size: 14px;
  line-height: 21px;
  color: $color-primary-200;
  background-color: $color-primary-800;
  height: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 16px 16px;
}

.book-title {
  font-family: "Inter semibold";
  font-size: 18px;
  line-height: 25px;
  color: $color-grey-900;
  min-height: 25px;
  max-height: 176px;
  line-clamp: 3;
}

.authorName {
  font-family: "Inter regular";
  font-size: 16px;
  line-height: 24px;
  color: $color-grey-900;

  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tertiary-button {
  font-family: "Inter semibold";
  font-size: 16px;
  line-height: 24px;
  color: $color-grey-900;
  cursor: pointer;
  position: absolute;
  bottom: 16px;
}
