<div class="left side">
  <div class="icon-container">
    <div class="icon-stack">
      <svg
        class="svg-selector"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path [attr.d]="heartFilled" class="heart-icon-path-filled" />
      </svg>
      <svg
        class="svg-selector"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path [attr.d]="heartOutlined" class="heart-icon-path-outlined" />
      </svg>
    </div>
  </div>
  <div class="book-cover-container">
    <img
      class="image"
      [src]="bookImage"
      alt="Image de couverture du livre &quot;{{ bookTitle }}&quot;"
    />
  </div>
  <div class="publication-date-container">
    <p>Publié en {{ publicationDate | date : "Y" }}</p>
  </div>
</div>
<div class="right side">
  <h2 class="book-title">{{ bookTitle | truncate : 50 }}</h2>
  <app-spacer [height]="'8px'"></app-spacer>
  <app-star-rating [rating]="averageRating"></app-star-rating>
  <app-spacer [height]="'16px'"></app-spacer>
  <p class="authorName">{{ authorName | truncate : 45 }}</p>

  @for (categorie of categories; track $index) {
  <p>{{ categorie }}</p>
  }

  <button>En savoir plus</button>
</div>
