<div class="left side">
  <app-like-icon></app-like-icon>
  <div class="book-cover-container">
    <img
      class="image"
      [src]="bookImage"
      alt="Image de couverture du livre &quot;{{ bookTitle }}&quot;"
    />
  </div>
  <div class="publication-date-container">
    <p>Publié en {{ publicationDate | date : "Y" }}</p>
  </div>
</div>
<div class="right side">
  <h2 class="book-title">{{ bookTitle | truncate : 50 }}</h2>
  <app-spacer [height]="'8px'"></app-spacer>
  <app-star-rating [rating]="averageRating"></app-star-rating>
  <app-spacer [height]="'16px'"></app-spacer>
  <p class="authorName">{{ authorName | truncate : 45 }}</p>
  <app-spacer [height]="'12px'"></app-spacer>
  <app-small-chips [chips]="categories"></app-small-chips>
  <app-spacer [height]="'12px'"></app-spacer>
  <!-- <button class="tertiary-button">En savoir plus ></button> -->
  <app-tertiary-button [object]="book()"></app-tertiary-button>
</div>
