<app-top-bar
  [title]="title"
  [position]="'relative'"
  [marginBottom]="'3rem'"
  [fontFamily]="'Inter regular'"
  [titleColor]="'#222931'"
></app-top-bar>

<p class="intro-text">
  Parcourez les rayons de la biblioth&egrave;que et trouvez vos prochaines
  lectures.
</p>

<app-tile-list [tileObjects]="tileObjects" [rowGap]="'0.75rem'">
  @for (tileObject of tileObjects; track $index) {
  <app-plain-tile
    [tileObject]="tileObject"
    [styleObject]="getTileStyle($index, tileObjects.length)"
  ></app-plain-tile>
  }
</app-tile-list>

<app-nav-bar></app-nav-bar>
