@use "styles" as *;

:host {
  display: block;
  padding: 0 1.5rem;
  max-width: $device-width;
}

.intro-text {
  color: $color-grey-900;
  font-family: "Inter regular";
  text-align: center;
  font-size: $font-size-300;
  line-height: $font-line-height-300;
  margin-bottom: 2rem;
}
